@import './shared/fonts';
@import './shared/colors';

//pages
@import './index';
@import './portfolios';

//components
@import './header';
@import './form';

html, body {
  height:100%;
  width:100%;
  font-family: 'Montserrat', 'Helvetica';
}

a {
  text-decoration: none;
}

.absolute {
  position: absolute;
}
